{
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(?:[./@]*app)(/.*|$)",
    "^(?:[./@]*middlewares)(/.*|$)",
    "^(?:[./@]*resources)(/.*|$)",
    "^(?:[./@]*utils)(/.*|$)",
    "^(?:[./@]*helpers)(/.*|$)",
    "^(?:[./@]*schemas)(/.*|$)",
    "^(?:[./@]*constants)(/.*|$)",
    "^(?:[./@]*types)(/.*|$)",
    "^(?:[./@]*)(/.*|$)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
