{
  "trailingComma": "all",
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)$",
    "^react-dom$",
    "^(?:[./@]*next)(/.*|$)",
    "<THIRD_PARTY_MODULES>",
    "^(?:[./@]*app)(/.*|$)",
    "^(?:[./@]*hooks)(/.*|$)",
    "^(?:[./@]*components)(/.*|$)",
    "^(?:[./@]*utils)(/.*|$)",
    "^(?:[./@]*lib)(/.*|$)",
    "^(?:[./@]*shared)(/.*|$)",
    "^(?:[./@]*)(/.*|$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
